.container {
    text-align: center;

}

.image {
    padding-bottom: 20px;
    padding-top: 50px;
}

.name,
.from {
    font-weight: var(--font-weight-l);
}

.name {
    font-weight: var(--font-weight-l);
    font-size: 24px;
    padding-bottom: 10px;
}

.from {
    font-size: 14px;
    color: var(--color-accent);
    padding-bottom: 20px;
}