.card {
    width: 25em;
    height: 40em;
    background-color: var(--color-dark-gray);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}